<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />

</head>
<body>
    <div class="container">
        <header>

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
               <a class="navbar-brand" href="@Url.Action("Index","Home")" >Yalçın</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString()=="Index"?"active":"")">
                            <a class="nav-link" href="@Url.Action("Index","Home")">Ana Sayfa</a>
                            @if (ViewContext.RouteData.Values["action"].ToString() == "Index")
                            {
                                <span class="sr-only">(Şu an Buradasınız)</span>
                            }
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString()=="About"?"active":"")">
                            <a class="nav-link" href="@Url.Action("About","Home")">Hakkımda</a>
                            @if (ViewContext.RouteData.Values["action"].ToString() == "About")
                            {
                                <span class="sr-only">(Şu an Buradasınız)</span>
                            }
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString()=="Project"?"active":"")">
                            <a class="nav-link" href="@Url.Action("Project","Home")">Projelerim</a>
                            @if (ViewContext.RouteData.Values["action"].ToString() == "Project")
                            {
                                <span class="sr-only">(Şu an Buradasınız)</span>
                            }
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString()=="Contact"?"active":"")">
                            <a class="nav-link" href="@Url.Action("Contact","Home")">İletişim</a>
                            @if (ViewContext.RouteData.Values["action"].ToString() == "Contact")
                            {
                                <span class="sr-only">(Şu an Buradasınız)</span>
                            }
                        </li>


                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Ara" aria-label="Ara">
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">Ara</button>
                    </form>
                </div>
            </nav>

        </header>
    </div>
        <div class="container body-content">
            @RenderBody()
      
        <hr />
        <footer class="footer bg-dark text-light p-3">
            <div class="row">
                <div class="col-md-3">
                    <h5>Hakkında</h5>
                    <p>Bu Benim Kişisel <br>Web Sitemdir</p>
                </div>
                <div class="col-md-3">
                    <h5>Sosyal Medya</h5>
                    <ul>
                        <li class="socialmedia"><a href="http://instagram.com/yalcinpkr" class="sociallinkcolor"><i class="fab fa-instagram"></i></a></li>
                        <li class="socialmedia"><a href="http://facebook.com/yalcinpkr" class="sociallinkcolor"><i class="fab fa-facebook"></i></a></li>
                        <li class="socialmedia"><a href="http://twitter.com/yalcinpkr" class="sociallinkcolor"><i class="fab fa-twitter"></i></a></li>
                        <li class="socialmedia"><a href="http://linkedin.com/yalcinpkr" class="sociallinkcolor"><i class="fab fa-linkedin"></i></a></li>
                        <li class="socialmedia"><a href="http://github.com/yalcinpkr" class="sociallinkcolor"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>KVKK</h5>
                    <ul>
                        <li class="bottomlink"><a class="bottomlink" href="@Url.Action("Cookies","Home")"> Çerez Kullanımı </a></li>
                        <li> <a href="@Url.Action("TermsofUse","Home")"> Kullanım Koşulları </a></li>
                        <li>Gizlilik Politikası</li>
                        <li>KVKK Aydınlatma Metni</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Telif Hakkı</h5>
                    <p>&copy; 2019 - Her hakkı saklıdır.</p>
                </div>
            </div>
        </footer>
    </div>


        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
</body>
</html>
